body {
	padding: 2em;
}

html { 
  background: url("osgiliath.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
  color: #990000;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form {
	background: rgba(255, 255, 255, 0.6);
	font-family: "Comic Sans";
	font-size: 1em;
	float: left;
	padding: 1.5em;
	border-radius: 30px;
}

